@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  background-color: var(--product-background);
}
.product-container > section {
  background-color: var(--white-color);
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
}
.product {
  padding: 20px;
  margin-bottom: 20px;
}
.product-image-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
}
.product-image {
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow-y: hidden;
}
.product-name {
  font-weight: 100;
  font-size: 20px;
}
.product-price {
  color: var(--pb-red);
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}
.price-old {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}
.product-rate {
  align-items: center;
  display: flex;
  margin-bottom: var(--spacing);
}
.product-stars {
  color: var(--star-gold);
}
.product-stars > i:not(:first-child) {
  display: none;
}
.product-stars > span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
.product-rate > span {
  color: var(--bs-gray-9);
  margin-left: 10px;
  font-size: 15px;
}
.product-addon {
  display: flex;
  margin-left: auto;
}
.product-addon > div {
  margin-left: 30px;
}
.product-btn {
  align-items: center;
  background-color: var(--white-color);
  border: 1px solid var(--pb-red);
  color: var(--pb-red);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  font-size: 15px;
  justify-content: center;
  flex: 1;
  text-align: center;
  flex-direction: row;
}
.buy-now {
  color: var(--white-color);
  background-color: var(--pb-red);
}
.buy-now-span {
  color: var(--bs-gray-100);
  font-weight: 600;
}
.download-wrapper {
  display: flex;
  justify-content: center;
}
.download {
  border-radius: 5px;
  flex: 0.2;
  padding: 10px 30px;
  margin-top: 20px;
  font-weight: bold;
}
.add-to-card-span {
  color: var(--bs-red);
  font-weight: 600;
}
.product-quantity {
  align-self: center;
  border: 1px solid var(--bs-gray-9);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex: 1;
  font-weight: bold;
}
.product-quantity > a {
  color: var(--bs-gray-9);
}
.product-quantity-wrapper {
  background-color: var(--white-color);
  display: flex;
  left: 0;
  right: calc(100% * calc(2 / 3));
}
.product-quantity-wrapper > label {
  display: none;
}
.product-quantity-wrapper,
.buy-now,
.add-to-cart {
  line-height: 56px;
  position: fixed;
  bottom: 0;
}
.add-to-cart {
  right: calc(100% * calc(1 / 3));
  left: calc(100% * calc(1 / 3));
}
.buy-now {
  left: calc(100% * calc(2 / 3));
  right: 0;
}
.btn-action {
  border: transparent;
  cursor: pointer;
  background: transparent;
  flex: 1;
}
.product-details {
  padding: 20px;
  margin-bottom: 20px;
}
.product-title {
  font-weight: bold;
  font-size: 19px;
}
.product-details-contents {
  margin-top: 20px;
  font-size: 15px;
}
.product-details-content {
  display: flex;
  flex-direction: row;
  line-height: 30px;
}
.product-content-label {
  width: 40%;
}
.product-content-detail {
  width: 60%;
}
.product-details-description {
  font-size: 16px;
  margin-top: 20px;
}
/* rating */
.product-rating {
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 20px;
}
.rating-view {
  align-items: center;
  display: flex;
  width: 25%;
  flex-direction: column;
}
.user-rating,
.rating {
  font-weight: bold;
}
.user-rating {
  font-size: 45px;
  text-align: center;
}
.rating {
  font-size: 25px;
}
.rating-star {
  align-items: center;
  color: var(--star-gold);
  display: flex;
  flex: 1;
  height: 20px;
}
.review-rating-container {
  width: calc(75% - 30px);
  margin-left: 30px;
}
.review-rating {
  display: flex;
}
.noti-non-user {
  margin-top: 30px;
}
.review-btn {
  border-radius: 5px;
  display: flex;
  padding: 5px 0;
  margin-top: 20px;
}
.review-btn > span {
  margin-right: 10px;
}
.user-comments {
  padding-top: 20px;
}
.user-comment {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.user-comment:not(:first-child) {
  border-top: 1px solid #c1c1c1;
}
.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.username {
  font-weight: bold;
}
.comment-date {
  color: var(--bs-gray-9);
  font-size: 14px;
}
.comment-content {
  color: #333;
  font-size: 14px;
}
/* nxb - author */
.product-supplier-author {
  display: none;
}
/* rating form and review */
.review-form-container,
.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  padding: 20% 0 50%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rating-form {
  background-color: var(--white-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  height: 100%;
  position: relative;
}
.rating-form > * {
  margin-bottom: 20px;
}
.form-title {
  align-self: center;
}
.rating-form > div.review-rating-stars {
  background-color: #f7f9fa;
  display: flex;
  justify-content: center;
  transform: rotate(180deg);
  padding: 10px;
}
.rating-form > div.review-rating-stars > input {
  display: none;
}
.rating-form > div.review-rating-stars > label::before {
  margin: 5px;
  font-size: 16px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating-form > div.review-rating-stars > label {
  color: #ddd;
  cursor: pointer;
  margin-left: -10px;
  transform: rotate(180deg);
}
.rating-form > div.review-rating-stars > input:checked ~ label,
.rating-form > div.review-rating-stars:not(:checked) > label:hover,
.rating-form > div.review-rating-stars:not(:checked) > label:hover ~ label {
  color: var(--star-gold);
}
.rating-form > div.review-rating-stars > input:checked + label:hover,
.rating-form > div.review-rating-stars > input:checked ~ label:hover,
.rating-form > div.review-rating-stars > label:hover ~ input:checked ~ label,
.rating-form > div.review-rating-stars > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
.review-content {
  border-radius: 10px;
  border: 1px solid #cdcfd0;
  padding: 10px;
  flex: 0.7;
}
.submit {
  align-self: flex-end;
  border: none;
  background-color: var(--pb-red);
  border-radius: 5px;
  cursor: pointer;
  color: var(--white-color);
  font-weight: bold;
  padding: 10px 30px;
}
.button-wrapper {
  display: flex;
}
.rating-form > div.button-wrapper {
  align-self: flex-end;
  margin-top: auto;
}
.cancel-form {
  color: var(--bs-gray-9);
  cursor: pointer;
  font-weight: bold;
  line-height: 36px;
  margin-right: 30px;
}
.exit-form {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.product-btn,
.cancel-form {
  user-select: none;
}
/* Update, delete review */
.user-comment:hover > .comment > .rating-star > .comment-menu {
  display: grid;
}
.comment-menu-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
}
.comment-menu {
  border-radius: 50%;
  color: #000;
  display: none;
  place-items: center;
  margin-left: auto;
  padding: 5px;
  position: relative;
}
.comment-menu:hover,
.comment-menu-active {
  background-color: #aaa;
}
.comment-menu-dropdown {
  background-color: #242526;
  border-radius: 5px;
  color: var(--white-color);
  display: none;
  position: absolute;
  right: 0;
  top: 25px;
  width: 100px;
  padding: 5px;
}
.comment-menu-dropdown > li {
  padding: 5px;
}
.comment-menu-dropdown > li:hover {
  background-color: var(--bs-gray);
  border-radius: 5px;
}
.comment-menu-active {
  display: flex;
}
.comment-delete-confirm {
  background-color: var(--white-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
.comment-delete-confirm > .button-wrapper {
  align-self: flex-end;
  margin: auto 0;
}
.comment-delete-confirm > .button-wrapper > input[name="commentId"] {
  display: none;
}
.comment-delete-confirm > .exit-form {
  top: 10px;
  right: 10px;
}
.confirm-delete-active {
  display: grid;
}
@media only screen and (min-width: 1024px) {
  .product-container {
    width: 1200px;
    margin: 0 auto;
  }
  .product {
    display: flex;
    flex-direction: row;
  }
  .product-view {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .product-image {
    flex: 0.8;
  }
  .product-name {
    font-weight: bold;
    font-size: 22px;
  }
  .product-stars > i:not(:first-child) {
    display: inline;
    margin-left: -5px;
  }
  .product-info {
    flex: 1;
    padding-left: 40px;
  }
  .product-addon > div {
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: var(--pb-red);
    padding: 10px;
  }
  .button-wrapper {
    margin-top: 30px;
  }
  .product-btn {
    padding: 13px 30px;
    max-width: 222px;
  }
  .add-to-cart,
  .buy-now,
  .product-quantity-wrapper {
    border-radius: 5px;
    position: unset;
    line-height: normal;
  }
  .buy-now {
    margin-left: 10px;
  }
  .product-quantity-wrapper {
    display: flex;
  }
  .product-quantity-wrapper > label {
    color: var(--bs-gray-7);
    display: inline;
    line-height: 32px;
    width: 150px;
  }
  .product-quantity {
    border-radius: 5px;
    flex: 0.2;
    padding: 0 10px;
    line-height: 32px;
  }
  .product-content-label {
    width: 30%;
  }
  .product-content-detail {
    width: 70%;
  }
  /* rating */
  .rating-view {
    width: 20%;
  }
  .review-rating-container {
    width: calc(35% - 40px);
    margin-left: 40px;
  }
  .noti-non-user {
    align-items: center;
    display: flex;
    width: 45%;
    font-size: 12px;
    margin-top: 0;
    justify-content: center;
  }
  .review-btn {
    margin: auto;
  }
  .user-comment {
    flex-direction: row;
  }
  .user-comment:not(:first-child) {
    border: none;
  }
  .user {
    flex-direction: column;
    width: calc(15% - 30px);
    margin-right: 30px;
  }
  .comment {
    width: 85%;
  }
  /* nxb - author */
  .product-supplier-author {
    display: block;
  }
  .product-author-row {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 23px;
  }
  .product-row-content > span {
    font-weight: bold;
  }
  /* review form */
  .review-form-container {
    padding: 10% 20%;
  }
  .overlay {
    padding-left: 20%;
    padding-right: 20%;
  }
  .overlay > .comment-delete-confirm > h2 {
    text-align: center;
  }
  .download-wrapper {
    justify-content: flex-start;
  }
}
